
%html
  %head
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"} 
    %script{:src => "/js/flot/jquery.flot.js"}
    %link{:rel => "stylesheet", :href => "/css/main.css"}

  %body
    #center_body
      #header
        %img{:src => "/images/logo.png"}

      #content
        = yield
