body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    font-weight: normal;
    font-size: 15px;
    color: #3B3030;
}

body {
  text-align: center;
}

#center_body {
  text-align: left;
  width: 850px;
  margin: 0 auto;
}

h1 {
    font-family: 'Trebuchet MS', Arial, Helvetica, san-serif;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}

h2 {
  font-family: 'Trebuchet MS', Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Trebuchet MS', Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.content {
  clear: both;
  display: inline-block;
}

.section {
  padding-left: 40px;
}

.counters {
  float: left; 
}

.counters .count {
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.counters .count .number {
  font-family: 'Trebuchet MS', Arial, Helvetica, san-serif;
  font-weight: bold;
  font-size: 30px;
}

.plot #data_plot {
  width: 600px;
  height: 160px;
}

.plot {
  float: left;
  padding: 35px 10px 20px 10px;
}

.messages_pane {
  padding-left: 10px;
}

.message {
  padding: 5px 0px 5px 0px;
}

.message .message_id {
  color: #585D5D;
  font-size: 12px;
  padding-top: 5px;
}

.tags {
  padding-top: 5px;
  font-size: 11px;
}

ul.tag {
  list-style-type: none;
  display: inline-block;
  margin: 0px 5px 0px 0px;
  -webkit-padding-start: 0px;
  font-weight: bold;
  font-size: 11px;
}

a.tag {
  text-shadow: 1px 1px 0 white;
  border: 1px solid #D4D4D4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 4px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

a.tag:hover {
  text-decoration: underline;
}

span.subj {
  font-weight: bold;
}
